extends ../layouts/common

block content
    h1= `Chi tiết khóa học ${khoahoc.name}`
    img(src=`${process.env.MYHOST}${khoahoc.avatar}`, alt="anh khoa hoc", width="256")
    .form-row
        .col-md-6.mb-3
            label(for='validationDefault01') Tên khóa học
            input.form-control(type='text' name='name', value=khoahoc.name, disabled)
        .col-md-6.mb-3
            label(for='validationDefault02') Giá
            input.form-control(type='number' name='gia', value=khoahoc.gia, disabled)
    .form-row
        .col-md-6.mb-3
            label(for='validationDefault03') Mô tả
            input.form-control(type='text' name='mota',value=khoahoc.mota, disabled)
        .col-md-6.mb-3
            label(for='validationDefault02') Giá giảm
            input.form-control(type='number' name='giagiam',value=khoahoc.giagiam, disabled)
    .form-row
        .col-md-6.mb-3
            label(for='validationDefault02') Số học viên
            input.form-control(type='number' name='sohocvien', value=khoahoc.sohocvien, disabled)
        .col-md-6.mb-3
            label(for='validationDefault02') Trạng thái
            if khoahoc.trangthai
                input.form-control(type='text', value='Hoạt động', disabled)
            else
                input.form-control(type='text', value='Khóa', disabled)
    .form-row
        .col-md-6.mb-3
            label(for='validationDefault03') Tống số bài học
            input.form-control(type='text' name='mota',value=khoahoc.tongsobaihoc, disabled)
        .col-md-6.mb-3
            label(for='validationDefault02') Giá giảm
            input.form-control(type='number' name='giagiam',value=khoahoc.giagiam, disabled)
    .form-row
        .col-md-6.mb-3
            a.btn.btn-success.btn-taomoi(href=`/khoahoc/update/${khoahoc.id}`) Sửa khóa học
        .col-md-6.mb-3
            a.btn.btn-success.btn-taomoi(href=`/khoahoc/thembaihoc/${khoahoc.id}`) Thêm bài học
    h3 Học viên của khóa
    .row
        .board.col-12
            a.btn.btn-success.btn-taomoi(href=`/khoahoc/themhv/${khoahoc.id}`) Thêm học viên
            form.form-inline.my-2.my-lg-0(action=`/khoahoc/${khoahoc.id}`, method='GET')
                input.form-control.mr-sm-2.search(type='search', name='q', placeholder='Search', aria-label='Search', value=q ? value=q : '')
                button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
            if users.length > 0
                table.table.table-bordered
                    thead
                        tr
                            th(scope='col') #
                            th(scope='col') Tên
                            th(scope='col') email
                            th(scope='col') Số điện thoại
                            th(scope='col') Action
                    tbody
                        each user, index in users
                            tr
                                th(scope='row')= index
                                td= user.name
                                td(class='')= user.email
                                td(class='td-number')= user.phone
                                td(class="action-td")
                                    a(href=`/khoahoc/khaitru/${khoahoc.id}/${user.id}`, class='')
                                        span.badge.badge-danger Khai trừ
                nav(aria-label='Page navigation example')
                    ul.pagination
                        if  currentPage === 1
                            li.page-item.disabled
                                a.page-link(href=previous aria-label='Next')
                                    span(aria-hidden='true') &laquo;
                        else
                            li.page-item
                                a.page-link(href=previous aria-label='Next')
                                    span(aria-hidden='true') &laquo;
                        each page, index in pages
                            if index+1 === currentPage
                                li.page-item.active
                                    a.page-link(href=page)= index + 1
                            else
                                li.page-item
                                    a.page-link(href=page)= index + 1
                        if currentPage === totalPage
                            li.page-item.disabled
                                a.page-link(href=nextPage aria-label='Next')
                                    span(aria-hidden='true') &raquo;
                        else
                            li.page-item
                                a.page-link(href=nextPage aria-label='Next')
                                    span(aria-hidden='true') &raquo;
            else
                h2.blue Không có học viên nào