extends ../layouts/common

block content
    h3
        span.mr-3 Thành viên
    form.form-inline.my-2.my-lg-0(action=`/khoahoc`, method='GET')
        input.form-control.mr-sm-2.search(type='search', name='q', placeholder='Search', aria-label='Search', value=q ? value=q : '')
        button.btn.btn-outline-success.my-2.my-sm-0(type='submit') Search
    if users.length > 0
        table.table
            tr
                th #
                th Name
                th Email
                th Phone
                th Role
                th Trạng thái
                th Action
            each user, index in users
                tr
                    th(scope='row')= index
                    td= user.name
                    td= user.email
                    td(class='td-number')= user.phone
                    td= user.role
                    if(user.trangthai)
                        td(class="action-td")
                            span.badge.badge-success Hoạt động
                    else
                        td(class="action-td")
                            span.badge.badge-danger Khóa
                    td(class="action-td")
                        a(href="/users/" + user.id,  class='action')
                            span.badge.badge-success Chi tiết
                        a(href="/users/update/" + user.id,  class='action')
                            span.badge.badge-Dark Sửa
                        a(href="/users/delete/" + user.id,  class='action')
                            span.badge.badge-danger Xóa
        nav(aria-label='Page navigation example')
            ul.pagination
                if  currentPage === 1
                    li.page-item.disabled
                        a.page-link(href=previous aria-label='Next')
                            span(aria-hidden='true') &laquo;
                else
                    li.page-item
                        a.page-link(href=previous aria-label='Next')
                            span(aria-hidden='true') &laquo;
                each page, index in pages
                    if index+1 === currentPage
                        li.page-item.active
                            a.page-link(href=page)= index + 1
                    else
                        li.page-item
                            a.page-link(href=page)= index + 1
                if currentPage === totalPage
                    li.page-item.disabled
                        a.page-link(href=nextPage aria-label='Next')
                            span(aria-hidden='true') &raquo;
                else
                    li.page-item
                        a.page-link(href=nextPage aria-label='Next')
                            span(aria-hidden='true') &raquo;
    else
        h2.blue Không có thành viên nào
